{% extends 'base.html.twig' %}

{% block title %}Hello LotController!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="display-4">
            LISTE DES LOTS
        </div>
        <hr>
        <p class="lead">
            <a href="{{ path('lot_new') }}" class="btn btn-secondary">AJOUTER UN LOT</a>
        </p>
    </div>

    <div class="container">

    </div>

{% endblock %}
